.diagram > svg div{
	color: #333;
	margin: auto;
	text-align: center;
	display: block;
}

.diagram > svg {
	margin: auto;
	display: block;
	max-width: 100%;
}

g.node > * {
	fill: white;
}

.diagram-value {
	background-color: white;
	padding: 3px;
	margin-top: 8px;
}